
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c3b5bd1badf3f45de4040dc69866de12
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress