
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2f45c8b8de38a8702dad758c4392047b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress