
@import '_style_mainstyle';



.header-nav-myclass {
  li {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.4rem;

    display: table-cell;

    box-sizing: border-box;

    text-align: center;

    border-left: 1px solid #e9eaec;
    a {
      display: block;

      min-height: 5.7rem;
      padding: 0 .5rem;

      vertical-align: middle;
      text-decoration: none;
      &:before {
        display: inline-block;

        width: .1rem;
        height: 5.7rem;
        margin: 0 0 0 -.1rem;

        content: '';
        vertical-align: middle;
      }
    }
    &.current-menu-item {
      a {
        color: #fff;
        background-color: #ed1c24;
      }
    }
  }
}

@media (max-width:767px) {
  .header-nav-myclass {
    display: none;
  }
}


.footer-nav-myclass {
  list-style-type: none;
  li {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.4rem;

    padding: .7rem 0;

    text-decoration: none;
    a {
      display: block;

      min-height: 1.6rem;
      padding: 0 0rem;

      text-decoration: none;

      color: #333;
      &:hover {
        text-decoration: underline;

        color: #ed1c24;
      }
    }
  }
}

/* .col-full {
  max-width: 80%;
} */

.site-main,
.widget-area {
  padding: 15px;

  background: rgba(255, 255, 255, .9);
}

.woocommerce-checkout-review-order {
  padding: 15px;
}

.woocommerce-breadcrumb {
  line-height: .618;

  background: rgba(162, 118, 83, .5);
}




#menu-glavnoe-menyu {
  li {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.15rem;

    display: table-cell;

    box-sizing: border-box;

    text-align: left;
    &:hover {
      background: #743f00;
    }
    &:last-child {
      ul {
        border: none;
      }
    }
    ul {
      text-align: left;
      li {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3rem;

        display: inline-block;

        text-align: left;

        border: none;
      }
    }
  }
}



header {
  height: 175px;
}
.my-nav {
  position: fixed;
  z-index: 1000;
  top: 115px;

  height: 60px;

  background: rgba(162, 118, 83, .9);
}

.sub-menu {
  width: 410px;
}


@media (max-width:767px) {
  header {
    height: 220px;
  }
  #site-navigation {
    top: auto;
  }
  .my-nav {
    position: absolute;

    background: transparent;
    .handheld-navigation {
      background: rgba(162, 118, 83, .9);
    }
  }
}

@media (min-width: 768px) {
  .site-header-cart {
    width: 15%;
    .widget_shopping_cart {
      float: right;

      width: 410px;
    }
  }
}

@media (max-width: 1170px) {
  .my-nav {
    a {
      font-size: 14px;
    }
  }
}

@media (max-width: 950px) {
  .my-nav {
    a {
      font-size: 12px;
    }
  }
}

//HEADER CART

.site-header-cart {
  width: 410px;
  li {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1rem;

    box-sizing: border-box;
  }
  &:hover {
    background: #743f00;
    &:hover,
    &.focus {
      .widget_shopping_cart {
        left: -230px;
      }
    }
  }
}

@media (min-width: 768px) {
  .woocommerce-active .site-header .site-header-cart {
    float: right;

    width: 15%;
    margin-right: 0;
    margin-bottom: 0;
  }
}


/* @media (min-width: 768px) {
  .site-header {
    margin-bottom: 2.236em;
    padding-top: 2.618em;
    padding-bottom: 0;
  }
}

@media (min-width: 987px) {
  .site-header {
    margin-bottom: 2.236em;
    padding-top: 2.618em;
    padding-bottom: 0;
  }
}
 */


#owl-top-slider .item {
  margin: 3px;
  img {
    display: block;

    width: 100%;
    height: auto;
  }
}

.widget-footer {
  padding: 15px;

  background: rgba(255, 255, 255, .9);
  li {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.4rem;

    display: table-cell;

    box-sizing: border-box;

    text-align: center;
    a {
      display: block;

      min-height: 5.7rem;
      padding: 0 .5rem;

      vertical-align: middle;
      text-decoration: none;
    }
  }
}

.brand {
  background: rgba(255, 255, 255, .3);
}
